@import url("https://fonts.googleapis.com/css?family=Special+Elite");

html,
body {
  background-color: #3e7c94;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Special Elite", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  color: #fff;
}

blockquote {
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
  color: #fdbb11;
}

blockquote:after {
  content: "”";
  right: -5rem;
  bottom: 1rem;
  color: #fdbb11;
}

cite {
  line-height: 3;
  text-align: center;
  font-style: normal;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  margin-top: 50px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
  background-color: #dfdfdf;
}
.btn:active {
  position: relative;
  top: 1px;
}
